<div [formGroup]="dashboardForms">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Filters</mat-card-title>
      <div>
        <button mat-raised-button (click)="resetFilters()">Reset filters</button>
      </div>
    </mat-card-header>
    <mat-card-actions>
      <form class="filters-form" [formGroup]="dashboardForms"> <!-- Add formGroup here -->
        <div class="filter-options">
          <mat-form-field appearance="fill">
            <mat-label>By wallet</mat-label>
            <mat-select formControlName="wallet">
              <mat-option *ngFor="let wallet of wallets" [value]="wallet.name">
                {{ wallet.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" formControlName="start">
              <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </form>
    </mat-card-actions>
  </mat-card>
</div>
