<h2 mat-dialog-title>Create transaction</h2>
<mat-dialog-content>
    <form>
        <mat-form-field appearance="fill" style="padding: 5px;">
            <mat-label>Destination Wallet</mat-label>
            <mat-select required [(ngModel)]="destinationWalletId" name="destinationWalletId">
                <mat-option *ngFor="let wallet of wallets" [value]="wallet.id">
                    {{ wallet.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="padding: 5px;">
            <mat-label>Amount</mat-label>
            <input matInput type="number" required [(ngModel)]="amount" name="amount" />
        </mat-form-field>

        <mat-form-field appearance="fill" style="padding: 5px;">
            <mat-label>Note</mat-label>
            <input matInput [(ngModel)]="note" name="note" />
        </mat-form-field>

    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
    <button mat-button (click)="onSubmit()" [disabled]="amount <= 0 || !note || !destinationWalletId">
        Create Transaction
    </button>
</mat-dialog-actions>