

<div style="margin: 1rem;">
  <app-dashboard-filters [wallets]="wallets" />
</div>

<div style="margin: 1rem;">
  <div style="display: flex; width: 100%; justify-content: space-between;">
    <app-balance-display [balance]="totalBalance" [title]="titles[0]" />
    <app-balance-display [balance]="periodChange" [title]="titles[1]" />
    <app-balance-display [balance]="periodExpense" [title]="titles[2]" />
    <app-balance-display [balance]="periodEarning" [title]="titles[3]" />
  </div>
</div>

<div style="margin: 1rem;">
  <div style="display: flex; width: 100%; justify-content: space-between">
    <app-balance-line-change-display style="width: 49%;"/>
    <app-balance-bar-change-display style="width: 49%;"/>
  </div>
</div>

<div style="margin: 1rem;">
  <div style="display: flex; width: 100%; justify-content: space-between" >
    <app-balance-piechart style="width: 49%;" [title]="titles[4]"/>
    <app-balance-piechart style="width: 49%;" [title]="titles[5]" />
  </div>
</div>
