<div style="margin: 4rem 24rem;">
  <div style="display: flex; justify-content: space-between">
    <h1> {{ wallet.name }} </h1>
    <div style="display: flex; gap: 1rem">
      <button mat-raised-button> Edit Wallet
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-raised-button color="warn"> Delete Wallet
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <button mat-raised-button> Add Transaction
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div style="margin-top: 1rem">
    <app-wallet-filters [categories]="categories"/>
  </div>
  <div style="margin-top: 1rem;">
      <div style="display: flex; width: 100%; justify-content: space-between;">
        <app-balance-display [balance]="totalBalance" [title]="titles[0]" />
        <app-balance-display [balance]="periodChange" [title]="titles[1]" />
        <app-balance-display [balance]="periodExpense" [title]="titles[2]" />
        <app-balance-display [balance]="periodEarning" [title]="titles[3]" />
      </div>
  </div>

  <div *ngIf="earnings.length > 0" style="margin-top: 1rem;">
    <h4> Earnings </h4>
    <table mat-table [dataSource]="earnings" class="mat-elevation-z8">
      <ng-container matColumnDef="walletId">
        <th mat-header-cell *matHeaderCellDef> Wallet ID </th>
        <td mat-cell *matCellDef="let element"> {{element.walletId }} </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount }} </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{getCategoryNameById(element.category_id)}} </td>
      </ng-container>
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef> Note </th>
        <td mat-cell *matCellDef="let element"> {{element.note }} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date }} </td>
      </ng-container>
      <ng-container matColumnDef="recurrent_id">
        <th mat-header-cell *matHeaderCellDef> Recurrent ID </th>
        <td mat-cell *matCellDef="let element"> {{element.recurrent_id }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"> </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div *ngIf="expenses.length > 0" style="margin-top: 1rem">
    <h4> Expenses </h4>
    <table mat-table [dataSource]="expenses" class="mat-elevation-z8">
      <ng-container matColumnDef="walletId">
        <th mat-header-cell *matHeaderCellDef> Wallet ID </th>
        <td mat-cell *matCellDef="let element"> {{element.walletId }} </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount }} </td>
      </ng-container>
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{getCategoryNameById(element.category_id)}} </td>
        </ng-container>
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef> Note </th>
        <td mat-cell *matCellDef="let element"> {{element.note }} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date }} </td>
      </ng-container>
      <ng-container matColumnDef="recurrent_id">
        <th mat-header-cell *matHeaderCellDef> Recurrent ID </th>
        <td mat-cell *matCellDef="let element"> {{element.recurrent_id }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div *ngIf="expenses.length > 0" style="margin-top: 1rem">
    <h4> Transactions</h4>
      <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
          <ng-container matColumnDef="transaction_type_id">
              <th mat-header-cell *matHeaderCellDef> Transaction Type ID </th>
              <td mat-cell *matCellDef="let element"> {{element.transaction_type_id }} </td>
          </ng-container>
          <ng-container matColumnDef="wallet_id">
              <th mat-header-cell *matHeaderCellDef> Wallet ID </th>
              <td mat-cell *matCellDef="let element"> {{element.wallet_id }} </td>
          </ng-container>
          <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.amount }} </td>
          </ng-container>
          <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date }} </td>
          </ng-container>
          <ng-container matColumnDef="note">
              <th mat-header-cell *matHeaderCellDef> Note </th>
              <td mat-cell *matCellDef="let element"> {{element.note }} </td>
          </ng-container>
          <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Category </th>
              <td mat-cell *matCellDef="let element"> {{getCategoryNameById(element.category_id)}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedTransactionColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedTransactionColumns;"></tr>
      </table>
  </div>

</div>
